@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width: 20px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-align: start;

  background: #131313;
}

.jetbrains-mono-normal {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.jetbrains-mono-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
}

@theme {
  --animate-bounceUp: bounceUp 2s ease-in-out infinite;
  @keyframes bounceUp {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
